<style>
table{
    border-color: darkblue;
}
.h
{
    text-align:center;
    color:blue;  
    background-color:rgba(255,255,0);
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:0px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:10px;
    padding-left:10px;
}
p
{
    text-align:left;
    color:cornflowerblue;  
    background-color:rgba(255,255,0,0.25);
}
.p1
{
	text-align:center;
    color:cornflowerblue;  
    background-color:rgba(255,255,0,0.25);
} 

</style>

<table border="3" cellspacing="0">
    <tr>
        <th><h2 class="h">種 類</h2></th>
        <th><h2 class="h">値 段</h2></th>
        <th><h2 class="h">特 徴</h2></th>
        <th><h2 class="h">人 気</h2></th>
    </tr>
    <tr>
        <td><p>　ブレンド　</p></td>
        <td><p class="p1">　¥200　</p></td>
        <td><p>　自慢の独自配合　</p></td>
        <td><p class="p1">　◎　</p></td>
    </tr>
    <tr>
        <td><p>　カフェオレ　</p></td>
        <td><p class="p1">　¥300　</p></td>
        <td><p>　クリームでまろやか　</p></td>
        <td><p class="p1">　○　</p></td>
    </tr>
    <tr>
        <td><p>　アメリカン　</p></td>
        <td><p class="p1">　¥280　</p></td>
        <td><p>　すっきりとした口当たり　</p></td>
        <td><p class="p1">　△　</p></td>
    </tr>
</table>   