<form >
お名前:<br> <input type="text" size="30">(必須)<br>
パスワード: <br><input type="password" size="30">(必須)<br>
コメント: <br><textarea rows="10" cols="30">
</textarea>(必須)<br>
<input type="submit" value="送信">
</form>
