body {
    margin: 10px auto;
}

.calculator {
    margin: 0 auto;
    border: 5px solid #666;
    background: #ccc;
    width: 500px;
    height: 730px;
    padding: 20px;
}

#screen {
    font-size: 4em;
    text-align: right;
}

#subscreem{
    font-size: 4em;
    text-align: right; 
}

.btn {
    font-size: 3em;
    border: 1px solid #ccc;    
    width: 100px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.btn-tall {
    height: 160px;
}

.btn-wide {
    width: 215px;
}