<style>
table{
    border-color: darkblue;
}
th
{
    text-align:center;
    color:blue;  
    background-color:rgba(255,255,0);	
    padding-top:10px;
    padding-bottom:0px;
    padding-right:3px;
    padding-left:3px;
}
.pcenter
{
    text-align:left;
    color:cornflowerblue;  
    background-color:rgba(255,255,0,0.25);
}
.pleft
{
	text-align:center;
    color:cornflowerblue;  
    background-color:rgba(255,255,0,0.25);
} 

</style>

<table border="3" cellspacing="0">
    <tr>
        <th><h2>種 類</h2></th>
        <th><h2>値 段</h2></th>
        <th><h2>特 徴</h2></th>
        <th><h2>人 気</h2></th>
    </tr>
    <tr>
        <td><p class="pcenter">　ブレンド　</p></td>
        <td><p class="pleft">　¥200　</p></td>
        <td><p class="pcenter">　自慢の独自配合　</p></td>
        <td><p class="pleft">　◎　</p></td>
    </tr>
    <tr>
        <td><p class="pcenter">　カフェオレ　</p></td>
        <td><p class="pleft">　¥300　</p></td>
        <td><p class="pcenter">　クリームでまろやか　</p></td>
        <td><p class="pleft">　○　</p></td>
    </tr>
    <tr>
        <td><p class="pcenter">　アメリカン　</p></td>
        <td><p class="pleft">　¥280　</p></td>
        <td><p class="pcenter">　すっきりとした口当たり　</p></td>
        <td><p class="pleft">　△　</p></td>
    </tr>
</table>   